<div style="margin: 2em" class="container">

  <carousel>
    <ng-container *ngFor="let item of items;">
      <ng-container *carouselItem>
        <div class="item">{{item.title}}</div>
      </ng-container>
    </ng-container>
  </carousel>

  <!--<div style="margin-top: 1em;"> 
    <a (click)="carousel.next()" class="btn btn-success">Next</a>
    <a (click)="carousel.prev()" class="btn btn-success">Prev</a>
  </div>-->
<div>
  <hr>
  <button class="btn btn-success" (click)="addSlide()">Add Slide</button>
</div>
</div>
